.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    app-post-create, app-post-list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    app-post-list {
        margin-bottom: 20px;
    }
}